h3, ol
{ color: red; /* color h3 red */
  font-family: Candal; /* Affiche la police cursive ou fantasy selon la disponibilité */
}

h1
{
  text-align: center; /* centre le texte */
  opacity: 0.5;
  border: 2px black groove;
  border-radius: 20px;
  box-shadow: 6px 6px 6px black;
}

p, ul
{
  color: white;
}

body
{
  background-image: url("back.jpg"); /* Ajoute un background */
  background-repeat: no-repeat; /* Annule la repetition du background */
  background-size: cover; /* Extend the background */
  margin: 0px;
  padding: 0px;
  font-family: Candal;

}

ul
{
  font-family: Candal;
}

nav
{
  float: right;
  display: inline-block;
  border: 3px black solid;
  border-radius: 20px;
}

a:hover
{
  color: rgb(106, 0, 0);
}

.debut
{
  text-align: right;
  position: fixed;
  right: 0px;
  bottom: 0px;

}

a
{
  color: red;
  font-family: Candal;
}


@media all and(max-width: 1024px)
{
  nav
    {
        width: auto;
        text-align: left;
    }

    nav ul
    {
        flex-direction: column;
    }

    nav li
    {
        padding-left: 4px
    }

    nav a
    {
        font-size: 1.1em
    }

    nav a:hover
    {
        border-bottom: :0
    }

    body
    {
      margin: 0px;
      margin-left: 0px;
    }
}
