h3, ol
{ color: red; /* color h3 red */
  font-family: cursive, fantasy; /* Affiche la police cursive ou fantasy selon la disponibilité */
}

h2
{
  text-align: center; /* centre le texte */

}

p, ul
{
  color: white;
}

body
{
  background-image: url("back.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
